<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CampusHack Lost An Item</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <style>
        body{
        background-color: #333;
        color: white;
      }
      #map{
          width: 50%;
          height: 600px;
          margin-right: 50px
      }
    </style>
</head>

<body class="text-center">
    <form class="form-signin" method="POST" action="/lostandfound/additem">
        <div class="form-group">
            <label for="inputName">Item Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Project Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="inputLast">Last Seen</label>
            <input type="text" id="inputLast" class="form-control" placeholder="Project Name" name="lastseen" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Item Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" class="form-control" placeholder="(Mark On The Map)" name="location"
                required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Project</button>
        <p class="mt-5 mb-3 text-muted" style="color:white;">&copy; 2018-2019</p>
    </form>

    <div id="map">

    </div>

    <script>
        function initMap() {

            //creating a map
            var options = {
                zoom: 16,
                center: {
                    lat: 28.54752909472491,
                    lng: 77.18700650813423
                }
            }

            var map = new google.maps.Map(document.getElementById('map'), options);

            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map
                })
                console.log(coords);
                document.getElementById('location').value = coords;
            }

            google.maps.event.addListener(map, 'click', function (event) {
                // Add marker
                addMarker(event.latLng);
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=PUTYOUROWNKEYHERE&callback=initMap">
    </script>
</body>

</html>